.input-container {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
  }
  
  .styled-input {
    padding: 10px;
    border: 2px solid orangered;
    border-radius: 5px;
    outline: none;
    width: 200px;
    transition: border-color 0.3s ease;
  }
  
  .styled-input:focus {
    border-color: orange;
  }
  
  .toggle-button {
    position: absolute;
    right: 8px;
    padding: 8px 12px;
    color: gray;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .toggle-button:hover {
    color: rgb(100, 100, 100);
    background-color: rgb(218, 218, 218);
  }
  