.main_container {
    margin: 0px 250px;
    display: flex;
    align-items: center;
    gap: 150px;

    margin-bottom: 60px;

    opacity: 0;
    transform: translateY(20px); /* Можете использовать другие трансформации для эффекта */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.info_container {
    color: #2b2b2b
}

.main_container.visible {
    opacity: 1;
    transform: translateY(0);
}

.header_container {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}

.image {
    max-width: 500px; /* Ограничивает максимальную ширину */
    max-height: 300px; /* Ограничивает максимальную высоту */
    width: auto; /* Сохраняет пропорции */
    height: auto; /* Сохраняет пропорции */
    border-radius: 20px;
}