.page-buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
    position: fixed;
    bottom: 20px;
}

.page-buttons-container-no-fixed {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    gap: 10px;
    bottom: 20px;
}