.venue-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .venue-form label {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .venue-form input,
  .venue-form textarea {
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .venue-form textarea {
    resize: vertical;
  }
  
  .venue-form button {
    padding: 10px 15px;
    font-size: 1rem;
    color: #fff;
    background-color: orange;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .venue-form button:hover {
    background-color: rgb(194, 127, 2);
  }
  